/* EditButton.module.css */
.editButton {
    position: relative;
    width: 175px;
    height: 51px;
    background: #171616;
    border-radius: 15px;
    display: flex;
    align-items: center;  /* Center the text */
    justify-content: right;  /* Center the text */
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    outline: none;
    padding-left: 2rem; /* Adjust based on the size of your icon */
    padding-right: 2rem; /* Adjust for padding */
    box-sizing: border-box;
  }
  
  .editButton:hover {
    background: #F8B319;
  }
  
  .editButtonIcon {
    position: absolute;
    left: 1rem; /* Adjust based on your layout */
    
    top: 50%;
    transform: translateY(-50%);
    /* Add styles for the edit icon here */
  }