.navbar {
  @apply bg-black-100 py-4 bg-opacity-80 sticky top-0 backdrop-blur-md z-40;
}

.nav-link {
  @apply link inline-flex items-center px-4 py-3;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 15px; /* Space between buttons */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-left: auto; /* Pushes the icons to the right */
}
.profile-button:hover {
  background-color: rgb(50, 50, 50); /* Change background color on hover */
}
.profile {
  width: 45px; /* Set your desired size */
  height: 45px; /* Set your desired size */
  border-radius: 50%;
  object-fit: cover;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 15px; /* Space between buttons */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-left: auto; /* Pushes the icons to the right */
}
 

.icon-button:hover {
  background-color: darkgrey; /* Change background color on hover */
}

.icon-button:last-child {
  margin-right: 0; /* No right margin for the last button */
}

.icon {
  width: 25px; /* Set your desired size */
  height: 25px; /* Set your desired size */
}
.search-bar {
  flex-grow: 1; /* Makes the search bar grow to use available space */
  /* max-width: 600px; Optional: set a max-width for the search bar */
  /* margin: 0 1rem; Adds space around the search bar */
}

.notifications-container {
  position: relative; /* Ensures that the child .notifications-list can be positioned absolutely relative to this container */
  
}

.notifications-list {
  position: absolute;
  top: 150%; /* Positions the top of the list right below the button */
  right: 0; /* Adjust this value to align the list as per your design requirements */
  z-index: 1000; /* Ensures the list appears above other content */
  background-color: black; /* Or any color matching your design */
  border: 1px solid #ccc; /* Optional, for styling */
  border-radius: 8px; /* Optional, for styling */
  width: 300px; /* Adjust based on the desired width of your notifications list */
  max-height: 300px; /* Adjust based on the desired maximum height of your list */
  overflow-y: auto; /* Makes the list scrollable */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional, adds a shadow for better visibility */
  padding: 0; /* Remove padding if it's adding unwanted space */
}





